{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock  %}

{% block content %}
    <!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Dashboard</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">{{user.first_name}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!--   Dashboard Start   -->

<div class="container mt-50 mb-50">
	{% include "includes/messages.html" %}
	<div class="main-title" style="text-align:left !important;">
            <h1>Welcome <span>{{user.first_name}}</span></h1>
            <p>Here are the cars that you have inquired about</p>
        </div>
	<table class="table table-hover">
	  <thead>
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">Car Name</th>
		  <th scope="col">Location</th>
		  <th scope="col">Price</th>
		  <th scope="col">Action</th>
		</tr>
	  </thead>
	  <tbody>
		{% if inquires %}
		{% for inquiry in inquires %}
		<tr>
		  <th scope="row">1</th>
		  <td>{{inquiry.car_title}}</td>
		  <td>{{inquiry.city}}</td>
		  <td>$</td>

		  
		  <td><a href="{% url 'car_details'  inquiry.car_id %}" class="btn btn-outline-dark">View Car</a></td>
		</tr>
		{% endfor %}
		{% else %}
		<div class="message">
			<strong>Sorry, to inquire you need to create an account or log in</strong>
		  </div>
		  <div class="button-container">
			<a href="{% url 'login' %}">
			  <span class="icon">🔒</span>
			  Login
			</a>
			<a href="{% url 'signup' %}">
			  <span class="icon">📝</span>
			  Signup
			</a>
		  </div>
	{% endif %}  
	</tbody>

	</table>
</div>
<style>
	.message {
		text-align: center;
		font-size: 18px;
		margin-bottom: 30px;
	  }
	
	  .button-container {
		text-align: center;
	  }
	
	  .button-container a {
		display: inline-block;
		margin: 10px;
		text-decoration: none;
		color: #fff;
		background-color: #3498db;
		border: 1px solid #3498db;
		border-radius: 5px;
		padding: 10px 20px;
		transition: background-color 0.3s;
	  }
	
	  .button-container a .icon {
		margin-right: 5px;
	  }
	
	  .button-container a:hover {
		background-color: #217dbb;
	  }
  </style>

<!--   Dashboard End   -->

{% endblock content %}