arabic-reshaper==3.0.0
asgiref==3.7.2
asn1crypto==1.5.1
asttokens==2.2.1
backcall==0.2.0
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.1
cryptography==42.0.0
cssselect2==0.7.0
debugpy==1.8.0
decorator==5.1.1
default==0.1.2
Django==5.0.1
django-3-jet==1.0.8
django-ckeditor==6.7.0
django-environ==0.9.0
django-jazzmin==2.6.0
django-js-asset==2.2.0
django-phonenumbers==1.0.1
djangorestframework==3.14.0
executing==1.2.0
gunicorn==20.1.0
html5lib==1.1
idna==3.6
ipykernel==6.29.0
ipython==8.21.0
jedi==0.18.2
jupyter_client==8.6.0
jupyter_core==5.7.1
lxml==5.1.0
MarkupSafe==2.1.2
matplotlib-inline==0.1.6
nest-asyncio==1.6.0
oscrypto==1.3.0
packaging==23.2
parso==0.8.3
phonenumbers==8.13.6
pickleshare==0.7.5
pillow==10.2.0
platformdirs==4.2.0
prompt-toolkit==3.0.36
psutil==5.9.8
psycopg==3.1.18
psycopg-binary==3.1.18
psycopg-pool==3.2.1
psycopg2==2.9.9
psycopg2-binary==2.9.5
pure-eval==0.2.2
pycparser==2.21
Pygments==2.14.0
pyHanko==0.21.0
pyhanko-certvalidator==0.26.3
pypdf==4.0.0
pypng==0.20220715.0
python-bidi==0.4.2
python-dateutil==2.8.2
python-decouple==3.8
pytz==2024.1
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.2
qrcode==7.4.2
reportlab==4.0.9
requests==2.31.0
see==1.4.1
setuptools==69.0.3
six==1.16.0
sqlparse==0.4.4
stack-data==0.6.2
svglib==1.5.1
tinycss2==1.2.1
tornado==6.4
traitlets==5.9.0
typing_extensions==4.9.0
tzdata==2023.4
tzlocal==5.2
uritools==4.0.2
urllib3==2.1.0
wcwidth==0.2.6
webencodings==0.5.1
whitenoise==6.6.0
WTForms==3.0.1
xhtml2pdf==0.2.14
