anyascii==0.3.2
asgiref==3.7.2
asttokens==2.2.1
backcall==0.2.0
beautifulsoup4==4.11.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
colorama==0.4.6
comm==0.1.4
cryptography==41.0.4
debugpy==1.6.7
decorator==5.1.1
decouple==0.0.7
defusedxml==0.7.1
distlib==0.3.7
Django==4.2.4
django-allauth==0.57.0
django-ckeditor==6.7.0
django-filter==23.3
django-js-asset==2.1.0
django-modelcluster==6.1
django-multiselectfield==0.1.12
django-permissionedforms==0.1
django-taggit==4.0.0
django-treebeard==4.7
djangorestframework==3.14.0
draftjs-exporter==2.1.7
et-xmlfile==1.1.0
executing==1.2.0
filelock==3.12.4
filetype==1.2.0
html5lib==1.1
idna==3.4
ipykernel==6.25.1
ipython==8.14.0
jedi==0.19.0
jupyter_client==8.3.0
jupyter_core==5.3.1
l18n==2021.3
matplotlib-inline==0.1.6
nest-asyncio==1.5.7
numpy==1.26.0
oauthlib==3.2.2
openpyxl==3.1.2
packaging==23.1
parso==0.8.3
pickleshare==0.7.5
Pillow==10.0.0
pillow-heif==0.13.0
platformdirs==3.10.0
prompt-toolkit==3.0.39
psutil==5.9.5
psycopg2==2.9.7
pure-eval==0.2.2
pycparser==2.21
Pygments==2.16.1
PyJWT==2.8.0
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2023.3.post1
pywin32==306
pyzmq==25.1.0
requests==2.31.0
requests-oauthlib==1.3.1
six==1.16.0
social-auth-app-django==5.3.0
social-auth-core==4.4.2
soupsieve==2.5
sqlparse==0.4.4
stack-data==0.6.2
telepath==0.3.1
tornado==6.3.2
traitlets==5.9.0
tzdata==2023.3
urllib3==2.0.6
virtualenv==20.24.5
virtualenvwrapper-win==1.2.7
wagtail==5.1.2
wcwidth==0.2.6
webencodings==0.5.1
whitenoise==6.5.0
Willow==1.6.2
